body {
    background-color: #ece5eb;
}

header {
    height: 16vh;
    width: 100%;
    background-color: #bc034b;
    color: #fadff6;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 5vh;
    margin: 0;
}

#img-melissa {
    width: 13vh;
    border-radius: 100%;
}

#informacoes {
    display: flex;
    align-items: baseline;
    justify-content: center;
    flex-direction: column;
    gap: 1vh;
}

#nome {
    margin-top: 2vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
}

#cargo {
    margin: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}